html,
body {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     border: 0;
     overflow: hidden;
}

#content {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     border: 0;
}

#frame1 {
     width: 50%;
     height: 100%;
     background-color: black;
     float: left;
     margin: 0;
     padding: 0;
     border: 0;
}

#frame2 {
     width: 50%;
     height: 100%;
     background-color: yellow;
     float: left;
     margin: 0;
     padding: 0;
     border: 0;
}

#_toprightcontrol {
     position: fixed;
     bottom: 0;
     right: 0;
     float: left;
     z-index: 1;
}

.video-js {
     height: 100%;
     width: 100%;
}

.vjs-big-play-button {
     top: 50% !important;
     left: 50% !important;
     margin-top: -0.75em !important;
     margin-left: -1.5em !important;
}